---
name: Run make targets to check for errors

# in quotes to avoid YAMLLint thinking it's a boolean
"on": push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install make
        run: sudo apt-get install make

      - name: Run make targets
        run: |
          make
          make clean
